.container
    .row
        aside.col-sm-4.col-sm-push-8
            include _sidebar
        section.section.col-sm-8.col-sm-pull-4
            +article('validate','Валидация формы Bootstrap', ['Validate','Bootstrap'])
                +codepen('QGRdOp', 400, 2, 'result', true)
            +article('tabs','Табы', ['Tab','jQuery'])
                +codepen('WoBRQw', 200, 2, 'result', true)
            +article('accordeon','Аккордеон', ['Accordeon','jQuery'])
                +codepen('pNmRJN', 400, 2, 'result', true)
            +article('navigation','Навигация', ['Navigation','jQuery'])
                +codepen('MbdJKm', 500, 2, 'result', true)
            +article('slider','Слайдер', ['Slider','jQuery'])
                +codepen('YpBYjv', 400, 2, 'result', true)


                
                
                
                
                
