.sidebar
    .list-group.sidebar__menu
        a(href="#validate").list-group-item.active Валидация формы Bootstrap
        a(href="#tabs").list-group-item Табы
        a(href="#accordeon").list-group-item Аккордеон
        a(href="#navigation").list-group-item Навигация
        a(href="#slider").list-group-item Слайдер
